<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body ng-app="App">
<div ng-controller="TodoController">
   <form  ng-submit="add()">
   		<input type="text" name="" ng-model="todo">
   </form>
   <ul>
   	<li ng-repeat="(key,value) in items">

   		<input type="checkbox" name="" ng-checked="value.flag">
   		<span>{{value.text}}</span>
   	</li>
   </ul>
   </div>
</body>
<script type="text/javascript" src="libs/angular.min.js"></script>
<script type="text/javascript">
	
      var app = angular.module("App",[]);
      app.controller('TodoController',['$scope',function($scope){
      		$scope.items = [];
      		$scope.add = function(){
      			$scope.items.push({
      				text:$scope.todo,
      				flag:false
      			});
      			$scope.todo="";
      		}
      }])

</script>
</html>